<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/Style.css">
    <link rel="stylesheet" href="~/CSS/cadastro.css">
    <title>Ponto Digital</title>
</head>
<body class="flex-container">

@RenderBody()
<section id="rodape">
    <footer>
        <address id="rodape2">
            <a href="#" class="pontodigital">Ponto digital</a>
            <p> Rua helvetia n°3560 </p>
            <p> pontodigitaloficial@gmail.com</p>
            <p>facebook/agoravai!oficialcom.br</p>
            <p> telefone:11 1234 6789</p>
        </address>
    </footer>
</section>
</body>
</html>